<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="row">
        <div class="col">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-primary" routerLink="view-all-gainers">All Gainers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" routerLink="view-gainers-by-date">Gainers By Date</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> -->

 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg bg-dark navbar-dark d-flex justify-content-center " id="mainNav">
    <div class="container">
        <!-- <a class="navbar-brand" href="#page-top"><img src="assets/img/navbar-logo.svg" alt="..." /></a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive2" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Gainers Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive2">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="view-all-gainers">All Gainers</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="view-gainers-by-date">Gainers By Date</a></li>
            </ul>
        </div>
    </div>
  </nav>